<div class="details-office">
  <p class="jobPay"><span class="jobName">{{officeDatas?.jobName}}</span><span class="pay">{{officeDatas?.pay}}</span></p>
  <div class="small">
    <img src="./assets/img/details/map.png" alt="">
    <span>{{officeDatas?.city}}</span>
    <img src="./assets/img/details/bussiness-man.png" alt="">
    <span>{{officeDatas?.workingAge}}年</span>
    <img src="./assets/img/details/office.png" alt="">
    <span>{{officeDatas?.education}}</span>
    <img src="./assets/img/details/clock.png" alt="">
    <span>{{officeDatas?.partTime}}</span>
  </div>
  <div class="tempt"><label>职位诱惑：</label><span>{{officeDatas?.tempt}}</span></div>
  <div class="logoName">
    <img class="logo f-l" src={{officeDatas?.logo}} alt="">
    <div class="f-l">
      <p class="companyName">{{officeDatas?.companyName}}</p>
      <p class="financing">{{officeDatas?.financing}} | {{officeDatas?.vocation}}</p>
    </div>
  </div>
</div>
