<div class="resumeHeader">
  <img class="f-l" (click)="back()" src="./assets/img/details/arrow-left.png" alt="">
  <p class="ta-c">职位详情</p>
  <p class="edit">编辑</p>
</div>
<div class="resume">
  <div class="resume_top">
    <p class="resume_top_p">添加头像</p>
    <div class="resume_top_pic">
      <img src="./assets/img/resume.png" alt="">
      <p onclick="changePic">点击更换</p>
    </div>
  </div>
  <div class="resume_body">
    <p class="resume_body_p">个人信息</p>
    <div class="resume_body_info">
      <div class="resume_info">
        <span class="resume_body_info_label resume_name_label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</span>
        <input type="text" class="resume_body_info_input resume_name_input">
        <span class="resume_name"></span>
      </div>
      <div class="resume_info">
        <span class="resume_body_info_label resume_sex_label">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</span>
        <input type="text" class="resume_body_info_input resume_sex_input">
        <span class="resume_sex"></span>
      </div>
      <div class="resume_info">
        <span class="resume_body_info_label resume_age_label">出生年月:</span>
        <input type="text" class="resume_body_info_input resume_age_input">
        <span class="resume_age"></span>
      </div>
      <!-- <div class="resume_info">
        <span class="resume_body_info_label resume_idcard_label">证件号:</span>
        <input type="text" class="resume_body_info_input resume_idcard_input">
        <span class="resume_idcard"></span>
      </div> -->
      <div class="resume_info">
        <span class="resume_body_info_label resume_phone_label">联系电话:</span>
        <input type="text" class="resume_body_info_input resume_phone_input">
        <span class="resume_phone"></span>
      </div>
      <div class="resume_info">
        <span class="resume_body_info_label resume_native_label">籍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贯:</span>
        <input type="text" class="resume_body_info_input resume_native_input">
        <span class="resume_native"></span>
      </div>
      <div class="resume_info">
        <span class="resume_body_info_label resume_school_label">毕业学校:</span>
        <input type="text" class="resume_body_info_input resume_school_input">
        <span class="resume_school"></span>
      </div>
      <div class="resume_info">
        <span class="resume_body_info_label resume_degree_label">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历:</span>
        <input type="text" class="resume_body_info_input resume_degree_input">
        <span class="resume_degree"></span>
      </div>
      <div class="resume_info">
        <span class="resume_body_info_label resume_graduation_label">毕业时间:</span>
        <input type="text" class="resume_body_info_input resume_graduation_input">
        <span class="resume_graduation"></span>
      </div>
    </div>
  </div>
</div>
