<div class="job-transition"></div>
<div class="job-details">
  <div class="header">
    <img src="./assets/img/details/text.png" alt="">
    <span>职位描述</span>
  </div>
  <div class="body">
    <p class="title">任职要求：</p>
    <p class="content">{{jobdetails?.require}}</p>
    <p class="title">优先：</p>
    <p class="content">{{jobdetails?.priority}}</p>
  </div>
</div>
<div class="job-transition"></div>
<div class="work-address">
  <div class="header">
    <img src="./assets/img/details/compass.png" alt="">
    <span>工作地址</span>
  </div>
  <div class="body">
    <p>{{jobdetails?.address}}</p>
  </div>
</div>
<div class="send-message">
  <button class="send f-l">发送简历</button>
  <button class="message f-r">和TA聊聊</button>
</div>